In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv(r'c:\Users\eltoukhysm\Biof309_Fall2017\Assignments\Loop_assignment\tweets.csv')

In [4]:
df.head()

,idstr,date,state,text,favorite_count,retweet_count
0,335444384575262720,Fri May 17 17:19:08 +0000 2013,NaN,RT @kroda15: @Simply1Derfulll cigarette smokin...,0,1
1,656610567600345088,Tue Oct 20 23:18:53 +0000 2015,NaN,RT @novacrossQueen: at the age of 29 years old...,0,12
2,223421278256775169,Thu Jul 12 14:19:18 +0000 2012,NaN,"RT @UberFacts: Tobacco smoke contains over 4,0...",0,1498
3,221635492653961217,Sat Jul 07 16:03:13 +0000 2012,NaN,RT @NotCommonFacts: Tobacco is the leading cau...,0,609
4,12915869753,Tue Apr 27 00:53:02 +0000 2010,CA,"study finds smoking, lack of exercise, poor di...",0,0

In [5]:
include = df[np.logical_and(df["favorite_count"]>=1, df["retweet_count"]>=1)]

In [6]:
include.head()

,idstr,date,state,text,favorite_count,retweet_count
37,596485597335662593,Fri May 08 01:23:43 +0000 2015,NaN,Research found that marijuana does not damage ...,1,1
38,338100487184318465,Sat May 25 01:13:32 +0000 2013,NY,Chewing tobacco is a complete turnoff. Especia...,3,6
112,602184535736918017,Sat May 23 18:49:16 +0000 2015,WA,*smokes joint* dude I swear the only thing to ...,11,2
126,614811102359072768,Sat Jun 27 15:02:44 +0000 2015,NaN,#MSGKickToDrugs bcz chewing tobacco and snuff ...,2,6
129,284773487070031873,Fri Dec 28 21:31:04 +0000 2012,NaN,—Ayer fue mi cumpleaños. —Felhiciidaadezz AmiW...,1,1

In [7]:
f = []
for row in include['favorite_count']:
    if row < 10.62:
        f.append('low')
    elif row > 10.62:
        f.append('high')

In [13]:
r = []
for row in include['retweet_count']:
    if row < 18.09:
        r.append('low')
    elif row > 18.09:
        r.append('high')

In [9]:
include['f'] = f

C:\Users\eltoukhysm\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [10]:
include.head()

,idstr,date,state,text,favorite_count,retweet_count,f
37,596485597335662593,Fri May 08 01:23:43 +0000 2015,NaN,Research found that marijuana does not damage ...,1,1,low
38,338100487184318465,Sat May 25 01:13:32 +0000 2013,NY,Chewing tobacco is a complete turnoff. Especia...,3,6,low
112,602184535736918017,Sat May 23 18:49:16 +0000 2015,WA,*smokes joint* dude I swear the only thing to ...,11,2,high
126,614811102359072768,Sat Jun 27 15:02:44 +0000 2015,NaN,#MSGKickToDrugs bcz chewing tobacco and snuff ...,2,6,low
129,284773487070031873,Fri Dec 28 21:31:04 +0000 2012,NaN,—Ayer fue mi cumpleaños. —Felhiciidaadezz AmiW...,1,1,low

In [12]:
include.head()

,idstr,date,state,text,favorite_count,retweet_count,f
37,596485597335662593,Fri May 08 01:23:43 +0000 2015,NaN,Research found that marijuana does not damage ...,1,1,low
38,338100487184318465,Sat May 25 01:13:32 +0000 2013,NY,Chewing tobacco is a complete turnoff. Especia...,3,6,low
112,602184535736918017,Sat May 23 18:49:16 +0000 2015,WA,*smokes joint* dude I swear the only thing to ...,11,2,high
126,614811102359072768,Sat Jun 27 15:02:44 +0000 2015,NaN,#MSGKickToDrugs bcz chewing tobacco and snuff ...,2,6,low
129,284773487070031873,Fri Dec 28 21:31:04 +0000 2012,NaN,—Ayer fue mi cumpleaños. —Felhiciidaadezz AmiW...,1,1,low

In [14]:
include.head()

,idstr,date,state,text,favorite_count,retweet_count,f
37,596485597335662593,Fri May 08 01:23:43 +0000 2015,NaN,Research found that marijuana does not damage ...,1,1,low
38,338100487184318465,Sat May 25 01:13:32 +0000 2013,NY,Chewing tobacco is a complete turnoff. Especia...,3,6,low
112,602184535736918017,Sat May 23 18:49:16 +0000 2015,WA,*smokes joint* dude I swear the only thing to ...,11,2,high
126,614811102359072768,Sat Jun 27 15:02:44 +0000 2015,NaN,#MSGKickToDrugs bcz chewing tobacco and snuff ...,2,6,low
129,284773487070031873,Fri Dec 28 21:31:04 +0000 2012,NaN,—Ayer fue mi cumpleaños. —Felhiciidaadezz AmiW...,1,1,low

In [15]:
include['r'] = r

C:\Users\eltoukhysm\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [16]:
include.head()

,idstr,date,state,text,favorite_count,retweet_count,f,r
37,596485597335662593,Fri May 08 01:23:43 +0000 2015,NaN,Research found that marijuana does not damage ...,1,1,low,low
38,338100487184318465,Sat May 25 01:13:32 +0000 2013,NY,Chewing tobacco is a complete turnoff. Especia...,3,6,low,low
112,602184535736918017,Sat May 23 18:49:16 +0000 2015,WA,*smokes joint* dude I swear the only thing to ...,11,2,high,low
126,614811102359072768,Sat Jun 27 15:02:44 +0000 2015,NaN,#MSGKickToDrugs bcz chewing tobacco and snuff ...,2,6,low,low
129,284773487070031873,Fri Dec 28 21:31:04 +0000 2012,NaN,—Ayer fue mi cumpleaños. —Felhiciidaadezz AmiW...,1,1,low,low

In [ ]:
include.desc